.games-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  word-wrap: break-word;
}

.games-list li:nth-child(odd) {
  background-color: #ddd;
}

.games-list h6 {
  color: #494949;
}

.games-list li span {
  font-size: 0.8em;
  padding: 0.3em;
  border-radius: 50%;
  background-color: white;
  color: #494949;
}

.games-list li input[type=date] {
  padding: 0.5em;
  font-size: 0.7em;
  border: none;
  border-radius: 1em;
}

.games-list li:nth-child(odd) input[type=date] {
  background-color: #bababa;
}

.games-list li:nth-child(even) input[type=date] {
  background-color: #ddd;
}

.games-list li:nth-child(odd) input[type=date]:focus {
  outline: 1px solid #888;
}

.games-list li:nth-child(even) input[type=date]:focus {
  outline: 1px solid #aaa;
}

.games-list li button {
  border: none;
  font-size: 0.7em;
  padding: 0.7em;
  border-radius: 0.3em;
}

.games-list li button:hover {
  cursor: pointer;
}
