.team-vs {
  position: relative;
  display: flex;
  width: 100%;
  background-image: linear-gradient(0deg, rgb(32, 37, 51) 0%, rgb(59, 44, 44));
  padding: 2em 1em;
}

.team-header {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.team-header img {
  max-width: 80%;
  max-height: 15em;
  filter: drop-shadow(0 1em 1.5em #fff8);
}

.team-header h2 {
  align-self: flex-end;
  width: 100%;
  margin-top: 0.5em;
  font-weight: bold;
  color: transparent;
  text-align: center;
  background-image: linear-gradient(90deg, rgb(112, 108, 150) 0%, rgb(153, 167, 202) 100%);
  /* stylelint-disable csstree/validator */
  background-clip: text;
  /* stylelint-enable csstree/validator */
}

.game-info-header div h2 {
  margin-bottom: 0.3em;
  font-size: 2em;
  font-weight: bold;
  color: #494949;
}

.team-header:nth-child(3) h2 {
  background-image: linear-gradient(-90deg, rgb(112, 108, 150) 0%, rgb(153, 167, 202) 100%);
}

.vs-badge {
  position: absolute;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: 900;
  font-style: italic;
  width: 40%;
  aspect-ratio: 1/1;
  margin-left: 50%;
  margin-top: 0;
  border-radius: 50%;
  transform: translateX(-63%);
  color: #cf0707;
  text-shadow:
    -1px 2px white,
    -4px 4px rgb(248, 127, 14);
  background-image: url('../../assets/static/rays.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
}

@media (min-width: 380px) {
  .vs-badge {
    font-size: 4em;
    transform: translateX(-57%);
  }
}

.vs-badge span {
  display: block;
  padding: 0.2em;
  border-radius: 50%;
  background-color: #fff7e977;
  box-shadow: 0 0 0.4em 0.2em #fff7e988;
}

.reservation-info {
  padding: 1em;
}

.game-stadium-name span {
  font-size: 0.8em;
  color: #aaa;
}

.game-info-header {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.game-info-header div {
  flex-grow: 1;
}

.game-header-details {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1em;
}

.game-header-details span {
  color: #505050;
}

.game-country {
  color: #97bf0f;
}

.game-seats {
  color: #97bf0f;
}

.reserve-form {
  width: 100%;
  padding: 1em;
  padding-bottom: 2em;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1em;
}

.reserve-form input[type=number] {
  padding: 0.5em 1em;
  width: 4em;
  font-size: 1.5em;
  text-align: right;
  appearance: textfield;
}

.reserve-form .add-button {
  background-color: #97bf0f;
}

.reserve-form .add-button:hover {
  background-color: #b5d843;
}

.reserve-form .add-button:active {
  background-color: #90b126;
}

.reserve-form .add-button:disabled {
  background-color: #eee;
  color: #ddd;
}

.reserve-game {
  position: relative;
}
