.loading {
  width: 50%;
  padding: 2em;
  margin: 0 auto;
}

.loading h4 {
  text-align: center;
  font-size: 2em;
  color: #aaa;
  text-transform: uppercase;
  margin-top: 1em;
}

.loading .spinner {
  display: block;
  width: 2em;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #97bf0f;
  animation: horizontalBounce 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
  overflow: hidden;
}

button.done {
  animation: req200 1s linear;
}

button.error {
  animation: reqError 1s linear;
}

.add-button {
  position: relative;
  padding: 1em;
  width: 11em;
  margin-bottom: 2em;
  margin-inline: auto;
  background-color: #117ce0;
  border: none;
  border-radius: 0.3em;
  color: white;
}

.add-button:hover {
  background-color: #3b99f1;
  cursor: pointer;
}

.add-button:active {
  background-color: #0762b8;
}


@keyframes req200 {
  0% {
    color: white;
    background-image: none;
    background-color: white;
  }

  25% {
    color: transparent;
    background-color: white;
    background-image: url('../assets/static/check.svg');
    background-size: 2.5em;
    background-position: center;
    background-repeat: no-repeat;
  }

  75% {
    color: transparent;
    background-color: white;
    background-image: url('../assets/static/check.svg');
    background-size: 2.5em;
    background-position: center;
    background-repeat: no-repeat;
  }

  100% {
    color: white;
  }
}

@keyframes reqError {
  0% {
    color: white;
    background-image: none;
  }

  25% {
    background-color: white;
    color: transparent;
    background-image: url('../assets/static/caution.svg');
    background-size: 2.5em;
    background-position: center;
    background-repeat: no-repeat;
  }

  75% {
    background-color: white;
    color: transparent;
    background-image: url('../assets/static/caution.svg');
    background-size: 2.5em;
    background-position: center;
    background-repeat: no-repeat;
  }

  100% {
    color: white;
  }
}

@keyframes horizontalBounce {
  0% {
    margin-left: 0;
  }

  50% {
    margin-left: calc(100% - 2em);
  }

  100% {
    margin-left: 0;
  }
}
