.loading {
  width: 50%;
  padding: 2em;
  margin: 0 auto;
}

.loading h4 {
  text-align: center;
  font-size: 2em;
  color: #aaa;
  text-transform: uppercase;
  margin-top: 1em;
}

.loading .spinner {
  display: block;
  width: 2em;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #97bf0f;
  animation: horizontalBounce 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
  overflow: hidden;
}

.button-delete {
  display: block;
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 10px auto;
  background-color: #bf500f;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.5em;
  cursor: pointer;
}

.button-delete:hover {
  background-color: #bf0f0f;
}

.button-delete:active {
  background-color: #bf0f0f;
}

@keyframes horizontalBounce {
  0% {
    margin-left: 0;
  }

  50% {
    margin-left: calc(100% - 2em);
  }

  100% {
    margin-left: 0;
  }
}
