.slider {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

.slick-list {
  width: 70vw;
}

.slider-pic {
  width: 15rem;;
  margin: auto;
}