.create-game {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  background-image: url('../../assets/static/vs.png');
  background-position: center -8em;
  background-size: cover;
  background-repeat: no-repeat;
}

.create-game select {
  width: 100%;
  padding: 1em;
  background-color: #ddd;
  border: none;
  outline: 1px solid #ccc;
  transition: 0.1s ease-in;
}

.create-game select:hover,
.create-game select:focus {
  outline: 2px solid #97bf0f;
}

.create-game .date-picker {
  background-color: white;
  font-size: 0.7em;
  border-radius: 1.7em;
  outline: 1px solid #aaa;
  color: #494949;
  transition: 0.1s ease-in;
}

.create-game .date-picker:hover,
.create-game .date-picker:focus {
  outline: 2px solid #97bf0f;
}

.create-game .vs-badge {
  position: relative;
  z-index: 2;
  margin-bottom: -0.8em;
  margin-top: -0.5em;
}